*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
  	-webkit-appearance: none; 
  	margin: 0; 
	}

input[type=number] { -moz-appearance:textfield; }

// VARIABLES //

$colores: 
#f1f1f1, 
#010101,  
#E6E154,
#F0846E,
#ED00BF,
#B40BD6,
#31A4E6;

@mixin textos($size, $weight) {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.05rem;
	font-size: $size;
	font-weight: $weight;
}

@mixin titulos($size, $weight) {
	font-family: 'Anton', sans-serif;
	letter-spacing: 0.05rem;
	font-size: $size;
	font-weight: $weight;
}

$transicion: all 250ms ease-in-out;

// INDEX //

html{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbutton__container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;

    .navbutton__grid{
        position: absolute;
        right: 1rem;
        top: 50%;
        display: flex;
        flex-direction: column;
        transform: translateY(-50%)
    }

    .navbutton{
        width: 18px;
        height: 18px;
        background-color: transparent;
        border: 3px solid nth($colores, 3);
        margin: 8px;
        border-radius: 100%;
        pointer-events: all;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;  
            margin: 2px;
            border-radius: 100%;
            background-color: transparent;
            transition: $transicion;
        }

        &:hover::after{
            background-color:rgba(nth($colores,3), 0.6);
        }

        &:focus::after, &.active{
            background-color:nth($colores,3);
        }
    }
}

section{
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    @include textos(16px, 400);

}

#uno{
background-color: nth($colores,7);
background-image: url(../img/pngmedico.png);
background-size: 600px;
background-repeat: no-repeat;
background-position: bottom right;

display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

    h1{ 
        display:inline-block;
        align-self: center;
        justify-self: unset;
        @include titulos(8rem,600);
        -webkit-text-stroke: 3px nth($colores,2);
        color: transparent;
    }

    p{
        width: 70%;
        color: nth($colores,2);
    }

    #btn__uno{
        text-decoration: none;
            font-size: 1rem;
            border-radius: 26px;
            border: 3px solid black;
            padding: 8px 20px;
            color: nth($colores,2);
            background-color: transparent;
    
            &:active{
                transform: scale(0.90);
            }
    
            a{
                text-decoration: none;
                color: #010101;
            }
    }

}

#dos{
    background-color: nth($colores,3);
    display: flex;
    flex-direction: column;
    align-items: center;

    .contDos{
        border-radius: 26px;
        border: 3px solid black;
        padding: 10px 30px;
        height: 60vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
    }

    h2{
        display:inline-block;
        align-self: flex-start;
        justify-self: unset;
        margin-left: 20px;
        @include titulos(7rem,600);
        -webkit-text-stroke: 3px black;
        color: transparent;
    }

    .selectorMes{
    display: flex;
    font-size:3rem;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    }

    a{
        text-decoration: none;
        font-size: 1rem;
        border-radius: 26px;
        border: 3px solid black;
        padding: 10px 30px;
        color: nth($colores,2);

        &:active{
            transform: scale(0.95)
        }
    }
}

#tres{
    background-color: nth($colores,6);
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        display:inline-block;
        align-self: flex-end;
        justify-self: unset;
        margin-right: 20px;
        margin-bottom: 20px;
        @include titulos(6rem,600);
        -webkit-text-stroke: 3px black;
        color: transparent;
    }

    
    #hospitalInfoDiv{
        padding: 10px 30px;
        height: 60vh;
        width: 80vw;
        border-radius: 26px;
        border: 3px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        input{
            background-color: transparent;
            border: 2px solid black;
            border-radius: 4px;
            padding: 2px;
            text-align: center;
            margin-left: 20px;
        }

        button{
            background-color: transparent;
            border:none;
        }
    
        #sectoresBtn{
            text-decoration: none;
            font-size: 1rem;
            border-radius: 26px;
            border: 3px solid black;
            padding: 8px 20px;
            color: nth($colores,2);
            background-color: transparent;
    
            &:active{
                transform: scale(0.90);
            }
    
            a{
                text-decoration: none;
                color: #010101;
            }
        }

        h4{
            display: inline-block;
            font-size: 0.8rem;
            font-weight:400;
        }
    }

    .sectoresDatos{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size:1rem;

        .sectorOption{
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;

            div{ 
                height:auto;
                width: 100px;
                display: flex;
                justify-content: space-around;
                align-items: center; 
                border: 2px solid black;
                border-radius: 5px;

                .fas{
                    font-size: 1.1rem;
                }
            }
        }  
    }
}

#cuatro{
    background-color: nth($colores,4);
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        display:inline-block;
        align-self: flex-start;
        justify-self: unset;
        margin-left: 20px;
        @include titulos(6rem,600);
        -webkit-text-stroke: 3px black;
        color: transparent;
    }

    .contCuatro{
        border-radius: 26px;
        border: 3px solid black;
        padding: 10px 30px;
        height: 60vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
    }

    #gruposRotacionContainer{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        font-size:1.4rem;

        .gruposRotacion{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            label{
                width: 100px;
                display: flex;
                justify-content: space-between;
            }
        }

        #gruposRotacionName{
            background-color: transparent;
            border: 2px solid black;
            border-radius: 4px;
            padding: 2px;
            text-align: center;
            margin-left: 20px;
        }

        #gruposBtn{
            margin-left: 10px;
            background-color: transparent;
            border:none;
            font-size: 1.4rem;
            cursor: pointer;
        }
    }

    #btn__cuatro{
        text-decoration: none;
        font-size: 1rem;
        border-radius: 26px;
        border: 3px solid black;
        padding: 8px 20px;
        color: nth($colores,2);
        background-color: transparent;

        &:active{
            transform: scale(0.90);
        }

        a{
            text-decoration: none;
            color: black;
        }
    }

    .hidden{
        display: none;
    }
}

#cinco{
    background-color: nth($colores,7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2{
        display:inline-block;
        align-self: flex-end;
        justify-self: unset;
        margin-right: 40px;
        @include titulos(6rem,600);
        -webkit-text-stroke: 3px black;
        color: transparent;
    }

    .contCinco{
        border-radius: 26px;
        border: 3px solid black;
        padding: 15px 30px;
        height: 60vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .datosMedicos{
        width:80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .inputsMedicos{
        width: 50%;
        display: flex;
        justify-content:space-between;

        input, select{
            background-color: transparent;
            border: 2px solid black;
            border-radius: 4px;
            padding: 2px;
            text-align: center;
        }
    }

    #medico__cargar{
        background-color: transparent;
        border:none;
        font-size: 2rem;
        cursor: pointer;
    }

    #btn__cinco{
        text-decoration: none;
        font-size: 1rem;
        border-radius: 26px;
        border: 3px solid black;
        padding: 8px 20px;
        color: nth($colores,2);
        background-color: transparent;

        &:active{
            transform: scale(0.90);
        }

        a{
            text-decoration: none;
            color: black;
        }
    }
}

#seis{
    background-color: nth($colores,3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2{
        display:inline-block;
        align-self: flex-start;
        justify-self: unset;
        margin-left: 20px;
        @include titulos(6rem,600);
        -webkit-text-stroke: 3px black;
        color: transparent;
    }

    .contSeis{
        border-radius: 26px;
        border: 3px solid black;
        padding: 15px 30px;
        height: 60vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #tablaDatos{
        overflow-y: scroll;
        width:100%;

        td{
            text-align: center;
        }

        span{
            cursor: pointer;
        }
    }

    #btn__seis{
        text-decoration: none;
        font-size: 1rem;
        border-radius: 26px;
        border: 3px solid black;
        padding: 8px 20px;
        color: nth($colores,2);
        background-color: transparent;

        &:active{
            transform: scale(0.90);
        }

        a{
            text-decoration: none;
            color: black;
        }
    }
}

#siete{
    background-color: nth($colores,6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2{
        display:inline-block;
        align-self: flex-end;
        justify-self: unset;
        margin-right: 50px;
        @include titulos(6rem,600);
        -webkit-text-stroke: 3px black;
        color: transparent;
    }

    #btnCrearCalendario{
        text-decoration: none;
        font-size: 1.2rem;
        border-radius: 26px;
        border: 3px solid black;
        padding: 15px 50px;
        color: nth($colores,2);
        background-color: transparent;

        &:active{
            transform: scale(0.90);
        }

        a{
            text-decoration: none;
            color: black;
        }
    }
}

#ocho{
    background-color: nth($colores,4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;

    h2{
        display:inline-block;
        align-self: flex-start;
        justify-self: unset;
        margin-left: 20px;
        @include titulos(4.5rem,600);
        -webkit-text-stroke: 3px black;
        color: transparent;
    }

    #downloadButton{
        margin-top: 20px;
        text-decoration: none;
        font-size: 1rem;
        border-radius: 26px;
        border: 3px solid black;
        padding: 5px 30px;
        color: nth($colores,2);
        background-color: transparent;
        cursor: pointer;

        &:active{
            transform: scale(0.90);
        }
    }

    .footer{
        background-color:#010101;
        width:100vw;
        height:35px;
        color: #f1f1f1;
        text-align: center;
        margin-top: 20px;

        a{
            text-decoration:underline;
            color: #f1f1f1;
            cursor: pointer;
        }
    }
}

/* --------- CALENDARIO ------------*/
.calendar{
    width: 80vw;
    height: 85vh;
    margin:0 auto;
    overflow-y: scroll;
    

    .calendario{
        height:100%;
        width:100%;
    }

    .seccionesCalendario{
        width: 100%;
        height: 100%;

        tbody{
            display: grid;
            grid-template-rows: 1fr 0.8fr auto;
            height: 100%;
            background-color:#fff;
            box-shadow: 
                2px 0 0 0 #888, 
                0 2px 0 0 #888, 
                2px 2px 0 0 #888,
                2px 0 0 0 #888 inset, 
                0 2px 0 0 #888 inset;
        }

        tr{
            border-collapse: collapse;
            border-spacing: 0;
        }

        td{
            display: inline-block;
            width: 100%;
            text-align: center;
            height:100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        #nombreMes{
            font-size:2rem;
        }

        .calendar__week{
            display: grid;
            grid-template-columns: repeat(7,1fr);
            height: 100%;
        }

        .calendar__days{
            display: grid;
            grid-template-columns: repeat(7,1fr);
            grid-template-rows: repeat(5,1fr);
            min-height: 300px;
            height:auto;
        }

        .calendar__item{
            box-shadow: 
                2px 0 0 0 #888, 
                0 2px 0 0 #888, 
                2px 2px 0 0 #888,
                2px 0 0 0 #888 inset, 
                0 2px 0 0 #888 inset;
        }
    }

    .borde{
        border: 1px solid #010101;
    }
}

/*----------- Toast -------------------*/
#toasts{
	position: fixed;
    z-index: 1000;
    height: 10vh;
    bottom: 20px;
	right: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
    justify-content: flex-end;
	width: 300px;
    pointer-events:all;
    font-family: 'Poppins', sans-serif;
}

.toast{
	background-color: #f1f1f1;
	padding: 1rem;
	border-radius: 5px;
	margin-bottom: 10px;
    bottom: 20px;
	color: rgb(128, 189, 128);
	display: flex;
	flex-direction: row;
	align-content: baseline;
	user-select: none;
	border-left: 8px solid rgb(128, 189, 128);
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;

	.fa-check-circle{
		font-size:20px;
		margin-right: 10px;
	}

	&.show{
		animation: show_slide 1s ease forwards;
	}

	@keyframes show_slide {
		0%{
			transform: translateX(100%);
		}
		40%{
			transform: translateX(-10%);
		}
		0%{
			transform: translateX(0%);
		}
		0%{
			transform: translateX(-10px);
		}
	}
}

/*----------Modal---------*/
.modalContainer{
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content:center;
	align-items:center;
	opacity: 0;
	pointer-events: none;
    font-family: 'Poppins', sans-serif;
	&.showModal{
		opacity: 1;
		pointer-events: auto;
	}
}

.modal{
	background-color:#010101;
    color: #f1f1f1;
	width: 600px;
	max-width: 100%;
	height: 250px;
	padding: 30px 50px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	h3{
		font-size: 20px;
	}

	p{
		opacity: 0.8;
		font-size: 16px;
	}

	button{
        font-size: 1rem;
        border-radius: 26px;
        border: 3px solid nth($colores,4);
        padding: 15px 100px;
        color: nth($colores,1);
        background-color: transparent;
        text-align: center;
        margin-top: 20px;

        &:active{
            transform: scale(0.90);
        }
	}
}

// MODAL FORM //
.formContainer{
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
    flex-direction: column;
	justify-content:center;
	align-items:center;
	opacity: 0;
	pointer-events: none;
    font-family: 'Poppins', sans-serif;
	&.showForm{
		opacity: 1;
		pointer-events: all;
	}
}
#formulario{
	background-color:#010101;
    color: #f1f1f1;
	width: 600px;
	max-width: 100%;
	height: 500px;
	padding: 30px 50px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

    .formHeader {
        display: flex;

        #closeForm {
            background-color: transparent;
            color: #f1f1f1;
            border: none;
            font-size:1.5rem;
            margin-left: 20px;
            cursor: pointer;
        }
    }

	p{
		opacity: 1;
		font-size: 16px;
	}

    input{
        width: 80%;
        text-align: center;

        &#mensaje{
            height: 400px;
        }
    }

	#formBtn{
        font-size: 1rem;
        border-radius: 26px;
        border: 3px solid nth($colores,4);
        padding: 5px 50px;
        color: nth($colores,1);
        background-color: transparent;
        text-align: center;
        margin-top: 20px;
        cursor: pointer;

        &:active{
            transform: scale(0.90);
        }
	}
}

////////// MEDIA QUERIES /////////////
@media (min-width: 600px) {
    .show_mb{
        display:none;
    }
}


@media only screen and (max-width: 600px) {
    .show_mb{
        display:inherit;
    }

    html{
        scroll-snap-type: none;
        overflow-x: hidden;
    }

    section{
        height:100vh;
        width:100vw;
        scroll-snap-align: none;
    }

    #navbar-mb{
        height: 80px;
        background-color: #010101;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;

        p{
            color: #f1f1f1;
            @include titulos(1.8rem, 600);
            text-align: center;
        }
    }

    #uno{
        background-size: 600px;

        h1{
            font-size: 2.8rem;
            -webkit-text-stroke: 2px nth($colores,2);
            border: none;
            content:"Arma las guardias";
        }

        #btn__uno{
            transform: translateY(-300%);
        }


    }
}
